<!-- 
    IMPORTANT INFO
    
    This app requires AngularJS and Bootstrap for the front-end only. You can still use the API via the cli etc.
    
    A valid internet connection is required to use the Bootstrap and AngularJS CDN. Replace with local copies
    if you do not wish to use the CDN or do not have a valid internet connection.
    
    AngularJS front-end - http://127.0.0.1:8000/screener/ 
    API - http://127.0.0.1:8000/screener/api/ 
    
    Provide your own login functionality or use the Django built in login views / urls or the REST framework 
    to aquire a valid session. -->

<!-- Replace with your sites base template if required. --> 
<!-- Make sure to provide extra_head, content and/or body blocks -->
{% extends "screener/base.html" %}

{% load static %}

{% block extra_head %}
    <!-- This app requires Bootstrap for its styling and responsive nature. -->
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
    crossorigin="anonymous">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
    crossorigin="anonymous"></script>
    
    <!-- App specific -->
    <link rel="stylesheet" href="{% static 'screener/css/screener.css' %}">
{% endblock %}

{% block body %}
	{% block content %}
	    <!--  Must set first -->
	    <script>
	        var STATIC_URL = "{% static '' %}"; // static url for angularJS to use
	        window.STATIC_URL = STATIC_URL;
	    </script>
	    
	    <!-- This app requires AngularJS. -->
	    
	    <!-- AngularJS -->
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.min.js"></script>
	
	    <!--  App specific -->
	    <script src="{% static 'screener/js/app/app.module.js' %}"></script>
	    <script src="{% static 'screener/js/app/app.config.js' %}"></script>
	    <script src="{% static 'screener/js/app/question/question.module.js' %}"></script>
	    <script src="{% static 'screener/js/app/category/category.module.js' %}"></script>
	    <script src="{% static 'screener/js/app/category/category.component.js' %}"></script>
	    <script src="{% static 'screener/js/app/screen/screen.module.js' %}"></script>
	    <script src="{% static 'screener/js/app/candidate/candidate.module.js' %}"></script>
		    
	    <div ng-app="ScreenerApp" ng-controller="rootCtrl">
		    <nav class="navbar navbar-inverse navbar-fixed-top">
		      <div class="container-fluid">
		        <div class="navbar-header">
		          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
		                  data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		          </button>
		          <a class="navbar-brand" href="#">Screener</a>
		        </div>
		        <div id="navbar" class="navbar-collapse collapse">
		          <ul class="nav navbar-nav navbar-right">
		            <li><a href="#!/questions" ng-class="getActive('/questions')">Questions</a></li>
		            <li><a href="#!/categories" ng-class="getActive('/categories')">Categories</a></li>
		            <li><a href="#!/screens" ng-class="getActive('/screens')">Screens</a></li>
		            <li><a href="#!/candidates" ng-class="getActive('/candidates')">Candidates</a></li>
		          </ul>
		        </div>
		      </div>
		    </nav>
	        <div loading></div>
	        <div ng-view class="container-fluid" ng-if='!isRouteLoading'></div>
	    </div>
	{% endblock %}
{% endblock %}

