<h3 class="page-header">Add Screen</h3>

<div class="alert alert-{{status}}" role="alert">
    <busy></busy> {{status|uppercase}}<span ng-if="info">:</span> {{info}}
</div>

<div ng-repeat="e in errors" class="alert alert-danger" role="alert">
    ERROR: {{e.errorMsg}}
    <br>STATUS: {{e.status}} - {{e.statusText}}
    <br>DETAIL: {{e.data.detail}}
</div>

<style>
	.table-responsive {
	    height: 250px;
	}
	.table-responsive{
	 overflow-y:scroll;
	}
</style>

<form ng-submit="addItem()">
	<div class="form-group">
		<label class="control-label error" ng-if="screen_errors.non_field_errors"><p>{{screen_errors.non_field_errors}}</p></label>
	    <br ng-if="screen_errors.non_field_errors">
		
		<label class="control-label required">Screen Position</label>
		<p>
		    <label class="control-label" ng-class="{'error': screen_errors.name}"  
	               ng-if="screen_errors.name">{{screen_errors.name[0]}} {{screen_errors.name.name}}</label>
		    <input class="form-control" type="text" placeholder="" name="name" ng-model="name" required>
		</p>
	</div>
	
	
	<label class="control-label">Add Questions</label>
	<p><input class="form-control" type="text" placeholder="Filter by name or category" ng-model="filter"></p>
	<div class="table-responsive">
	   <table class="table table-striped">
	     <thead>
	       <tr>
	         <th class="col-sm-1">#</th>
	         <th class="col-sm-11">Question Name</th>
	       </tr>
	     </thead>
	     <tbody>
	       <tr ng-repeat="q in questions | filter:filter">
	         <td class="col-sm-1" ng-class="{'success':selection.indexOf(q.question) > -1}">
	             <input type="checkbox" value="{{q.pk}}" name="selectedQuestions[]" ng-checked="selection.indexOf(q.question) > -1" 
	             ng-click="toggleSelection(q.question)">
	         </td>
	         <td class="col-sm-11" ng-class="{'success':selection.indexOf(q.question) > -1}">
	             <a href="#!/questions/{{q.pk}}/" >{{q.question}}</a>
	         </td>
	       </tr>
	     </tbody>
	   </table>
	</div>
	
	<br/>
	<p><button class="btn btn-lg btn-primary glyphicon glyphicon-save" type="submit"></button></p>
</form>


