<style>
textarea.form-control {
    height:100px;
}
pre{
 max-height:150px;
 min-height:50px;
}

</style>

<h3 class="page-header">
    <div class="trunc">
        {{screen.name}}: {{candidate.first_name}} {{candidate.surname}}
    </div>
</h3>

<div class="alert alert-{{status}}" role="alert">
    <busy></busy> {{status|uppercase}} : {{info}}
</div>

<div class="alert alert-info" role="alert">
    <b>Score</b>: {{score.score}}%
    <br><b>Questions answered</b>: {{score.questions_answered}} of {{screen.questions.length}}
</div>

<div ng-repeat="e in errors" class="alert alert-danger" role="alert">
    ERROR: {{e.errorMsg}}
    <br>STATUS: {{e.status}} - {{e.statusText}}
    <br>DETAIL: {{e.data.detail}} {{e.data.non_field_errors}}
</div>

<div ng-show="status_code!=403">

    <label class="control-label">Question {{question_idx + 1}} of {{screen.questions.length}}</label>
    <p>{{current_question.question}}</p>
    
    <label class="control-label">Answer Reference</label>
    <pre>{{current_question.reference_answer}}</pre>
    
    <form ng-submit="nextQuestion()">
	    <label class="control-label required">Answer Correct</label>
	    <div class="form-group">
		    <label class="radio-inline">
		        <input type="radio" name="candidate_answer_correct" value="1" ng-model="current_answer.answer_correct" required>Yes
		    </label>
		    
		    <label class="radio-inline">
		        <input type="radio" name="candidate_answer_correct" value="0" ng-model="current_answer.answer_correct">No
		    </label>
	    </div>
	    
	    <label class="control-label required">Answer Quality</label>
	    <div class="form-group">
		    <label class="radio-inline" ng-repeat="q in answer_qualities">
		        <input type="radio" name="candidate_answer_quality" value="{{q.pk}}" ng-model="current_answer.answer_quality" required>{{q.quality}}
		    </label>
	    </div>

		<button class="btn btn-lg btn-primary glyphicon glyphicon-arrow-left" ng-click="prevQuestion()" type="button" ng-disabled="question_idx == 0"></button>
		<button class="btn btn-lg btn-primary glyphicon glyphicon-arrow-right glyphicon-save" type="submit" ></button>
		<button class="btn btn-lg btn-primary glyphicon glyphicon-eye-open" type="button" ng-click="nextQuestionReadonly()" ng-disabled="question_idx == questions.length-1"></button>
		
	</form>
</div>



