<modal-confirm-delete-dialog></modal-confirm-delete-dialog>

<h3 class="page-header">Questions ({{questions.count}})</h3>

<div ng-repeat="e in errors" class="alert alert-danger" role="alert">
    ERROR: {{e.errorMsg}}
    <br>STATUS: {{e.status}} - {{e.statusText}}
    <br>DETAIL: {{e.data.detail}}
</div>

<p><button class="btn btn-lg btn-primary glyphicon glyphicon-plus" onclick="location.href='#!/questions/add'"></button></p>
<p><input class="form-control" type="text" placeholder="Filter" ng-model="filter"></p>

<div class="table-responsive">
   <table class="table table-striped">
     <thead>
       <tr>
         <th>Question</th>
         <th>Actions</th>
         <th>Categories</th>
       </tr>
     </thead>
     <tbody>
       <tr ng-repeat="q in questions | filter:filter">
         <td><a href="#!/questions/{{q.pk}}/" >{{q.question}}</a></td>
         <td><button class="btn btn-xs btn-danger glyphicon glyphicon-remove" type="button" data-toggle="modal" data-target="#confirmDeleteModal" ng-click='confirmData($index, q.pk)' ></button></td>
         <td><span ng-repeat="c in q.categories">
                 <a ng-if="c.user" href="#!/categories/{{c.pk}}/">{{c.category}}{{$last ? '' : ' | '}}</a>
                 <span ng-if="!c.user" >{{c.category}}{{$last ? '' : ' | '}}</span>
             </span>
         </td>
       </tr>
     </tbody>
   </table>
</div>

